body {
    background: url('../images/bg_lines.jpg');
    background-size: 100% auto;
    background-repeat: repeat-y;
}

#content-1 {
    padding-bottom: 5%;
    background-image: none;
}

.footer-container {
    display: flex;
    margin-top: -1%;
    padding-left: 10%;
    padding-right: 10%;
    color: #fef5e4;
    padding-bottom: 3%;
    background-color: #6a303b;
    width: auto;
}