/* ----------- FONTS START ------------ */
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Mansalva&display=swap');
/* ----------- FONTS END ------------- */

/* ----------- NOTES 

1. margins on both left and right is 10%

------------- */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #6a303b;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    color: #fef5e4;
}

p {
    font-family: 'Nunito', sans-serif;
}

#header {
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 50;
    padding-top: 1%;
}

.img-header {
    object-fit: cover;
    width: 100%;
    margin-top: -11%;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.img-logo {
    position: absolute;
    width: 10%;
    margin-top: -0.5%;
    padding-left: 10%;
}

.navi {
    position: relative;
    text-align: right;
    padding-right: 10%; 
}

.navi a {
    font-family: 'Mansalva', cursive;
    text-decoration: none;
    color: #fef5e4;
    padding-left: 2%;
    font-size: 25px;
    transition: .2s;
}

.navi a:hover {
    text-decoration:underline;
    color: #8a9d6b;
    transition: .2s;
}

/* -----
.img-c1-bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-position: cover;
}
---- */

/* ---------- CONTENT 1 START -------------- */

#content-1 {
    padding-bottom: 15%;
    padding-top: 12%;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url("../images/bg_lines.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.c1-container {
    display: flex;
    width: 100%;
}

.img1-c1 {
    position:inherit;
}

.c1-container1 img {
    width: 100%;
}

.c1-container1 {
    width: 40%;
}

.c1-container2 {
    padding-left: 10%;
    align-self: center;
    width: 60%;
    margin-top: -3%;
}

.img-logo-small-container {
    min-width: 0;
}

.img-logo-small {
    width: 40%;
}

.c1-p-container {
    width: 65%;
}

.c1-p-container p {
    font-size: 18px;
    color: #6a303b;
}

.c1-button {
    width: 25%;
    background-color: #fe7175;
    color: #fef5e4;
    font-family: 'Mansalva', cursive;
    border: 0;
    padding: 1% 0%;
    border-radius: 10px;
    font-size: 150%;
    transition: .2s;
}

.c1-button:hover {
    background-color: #8a9d6b;
    transition: .2s;
    cursor: pointer;
}

.c1-button2 {
    width: 25%;
    background-color: #fe7175;
    color: #fef5e4;
    font-family: 'Mansalva', cursive;
    border: 0;
    padding: 1% 0%;
    border-radius: 10px;
    font-size: 150%;
    transition: .2s;
}

.c1-button2:hover {
    background-color: #8a9d6b;
    transition: .2s;
    cursor: pointer;
}

/* ---------- CONTENT 1 END -------------- */

/* ---------- CONTENT 2 START -------------- */

.img-c2-bgtop {
    object-fit: cover;
    width: 100%;
    margin-top: -11%;
    position: absolute;
}

.img-c2-bgbottom {
    object-fit: cover;
    width: 100%;
    margin-top: -11%;
    position: absolute;
}

.content-2 {
    background-color: #8a9d6b;
    background-image: url('../images/section3_bg.jpg');
    margin-top:-1%;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    position: relative;
    padding-left: 3%;
    padding-right: 10%;
    z-index: 1;
}

.c2-left-container {
    padding-left: 5%;
    padding-right: 0;
    margin-right: 0;
}

.c2-right-container {
    align-self: center;
}

.img1-c2 {
    width: 80%;
    position: relative;
}

/* ---------- CONTENT 2 END -------------- */

/* ---------- CONTENT 3 START -------------- */

.content-3 {
    background-color: #d6c868;
    background-image: url('../images/section4_bg.jpg');
    padding-top: 10%;
}

.c3-title h1 {
    color: #fef5e4;
    text-align: center;
    font-weight: normal;
    font-size: 48px;
    z-index: 3;
    position: relative;
    padding-bottom: 1%;
    padding-top: 2.5%;
}

.img-c3-bgbottom {
    object-fit: cover;
    width: 100%;
    position: absolute;
    margin-top: -5%;
}

.c3-gallery {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/* ---------- CONTENT 3 END -------------- */

/* ---------- FOOTER START -------------- */

.footer-paper {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.footer-container {
    display: flex;
    margin-top: 14%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    color: #fef5e4;
    padding-bottom: 3%;
    background-color: #6a303b;
    width: auto;
}

.footer-container h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.footer-container p {
    font-family: 'Nunito', sans-serif;
}

.footer1 {
    margin-right: 20%;
}

.footer2 {
    margin-right: 20%;
}

.footer3 {
    padding-right: 10%;
}

.footer3 a {
    color: #fef5e4;
    text-decoration: none;
    transition: .2s;
}

.footer3 a:hover {
    text-decoration: underline;
    transition: .2s;
}

.footer4 {
    align-self: flex-end;
}

.material-symbols-outlined {
    font-size: 30px;
    font-weight: bold;
    color: #fef5e4;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

#footer-extra {
    background-color: #37151b;
    width: 100%;
    height: 20px;
    margin-bottom: 0;
}

/* ---------- FOOTER END -------------- */


/* ---------- FAQ CSS START -------------- */

.faq-container {
    display: flex;
    margin-top: -3%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
    justify-content: center;
}

.faq-content h1 {
    color: #fe7175;
    text-align: center;
    margin-bottom: 4%;
    font-size: 40px;
}

.faq-content li {
    font-family: 'Nunito', sans-serif;
    width: 70%;
    color: #6a303b;
}

.faq-content ol li {
    font-weight: 800;
    line-height: 200%;
    margin: 0 auto;
}

.faq-content ul li {
    font-weight: normal;
    list-style: none;
}

.faq-content ul li a {
    text-decoration: none;
    color: #fe7175;
    font-weight: 800;
    transition: .2s;
}

.faq-content ul li a:hover {
    transition: .2s;
    text-decoration: underline;
    color: #8a9d6b;
}

/* ---------- FAQ CSS END -------------- */


/* ---------- FEEDBACK CSS START -------------- */

.feedback-container {
    display: flex;
    color: #37151b;
    padding-bottom: 3%;
    width: auto;
}

.feedback-container a {
    color: #fe7175;
    font-family: 'Nunito', sans-serif;
    transition: .2s;
    text-decoration: none;
}

.feedback-container a:hover {
    color: #8a9d6b;
    transition: .2s;
    text-decoration: underline;
}

.feedback-container h1 {
    color: #fe7175;
    font-size: 48px;
    margin-top: 0;
}

.fa-twitter {
    color: #1d9bf0;
    font-size: 17px;
}

.feedback-content1 {
    width: 55%;
    margin-right: 20%;
}

.img1-feedback {
    width:100%;
    margin-top: 10%;
    margin-left: -15%;
}

.img2-feedback-container {
    text-align: right;
    margin-top: 15%;
    margin-right: 5%;
    position: absolute;
}

.img2-feedback {
    width: 30%;
}

label {
    font-weight: 800;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #fe7175;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #fe7175;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
  }
  
  input[type=submit]:hover {
    background-color: #8a9d6b;
    transition: .2s;
  }
  
  .form-container {
    border-radius: 5px;
    background-color: #d6c868;
    padding: 20px;
  }

/* ---------- FEEDBACK CSS END -------------- */



/* ---------- DOWNLOAD CSS START -------------- */

.dl-container1 h1 {
    color: #fe7175;
}

.dl-container1 {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -3%;
}

.dl-content1:first-child {
    padding-right: 15%;
}

.dl-container2 h1 {
    color: #fe7175;
    text-align: center;
    margin-top: 0;
    font-size: 40px;
}

.dl-container2 {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.dl-container2 img {
    align-self: center;
    padding-bottom: 3%;
}

.dl-container2-img {
    width: 60%;
}

.squiggle6 {
    width: 8%;
    margin-top: 3%;
}

/* ---------- DOWNLOAD CSS END -------------- */

/* ---------- ABOUT CSS START -------------- */

.abt-container {
    display: flex;
    align-self: center;
    margin-top: -3%;
    padding-right: 10%;
    flex-direction:column;
    margin-bottom: 5%;
}

.abt-content {
    display: flex;
    flex-direction: column;
    color: #6a303b;
    margin-bottom: 4%;
}

.abt-content h1 {
    color: #fe7175;
    text-align: center;
    font-size: 40px;
}

.abt-content a {
    color: #fe7175;
    font-weight: 800;
    text-decoration: none;
    transition: .2s;
}

.abt-content a:hover {
    color: #8a9d6b;
    text-decoration: underline;
    transition: .2s;
}

.ppl-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.ppl-container h3 {
    font-family: 'Mansalva', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 26px;
    margin-bottom: 0;
}

.ppl-container h4 {
    font-family: 'Mansalva', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.ppl-container p {
    padding-bottom: 50%;
}

.ppl {
    background-color: #fe7175;
    color: #fef5e4;
    border-radius: 300px;
    height: auto;
    width: 14%;
    padding: 2% 4%;
    margin-right: 3%;
}

.ppl:last-child {
    margin-right: 0;
}

.ppl-img {
    border-radius: 100%;
    margin-top: 20%;
    width: 100%;
}

/* ---------- ABOUT CSS END -------------- */

/* ---------- MOBILE NAVBAR START -------------- */

.navbar {
    position: fixed;
    right: 0;
    margin-right: 10%;
    z-index: 99;
}

.navbar li {
    list-style: none;
    font-size: 170%;
}

.navbar a {
    color: #fef5e4;
    text-decoration: none;
    transition: .2s ease;
}

.navbar a:hover {
    color: #8a9d6b;
    text-decoration: underline;
    transition: .2s ease;
}

.nav-menu {
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    display: none;
}

.nav-link {
    transition: 0.2s ease;
}

.nav-link:hover {
    color: #8a9d6b;
    transition: 0.2s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fef5e4;
}

@media(max-width:992px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        display: flex;
        position: fixed;
        margin-top: -8%;
        right: -130%;
        padding-top: 20%;
        padding-bottom: 100%;
        gap: 0;
        flex-direction: column;
        background-color: #6a303b;
        width: 100%;
        text-align: center;
        transition: .3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        right: 0;
    }
}


/* ---------- MOBILE NAVBAR END -------------- */


/* ---------- RESPONSIVENESS START -------------- */

@media only screen and (max-width: 992px) {
    .navi {
        display: none;
    }

    #header {
        padding-top: 2%;
        background-color: #6a303b;
    }

    .img-header {
        margin-top: -10%;
    }

    .footer-container {
        flex-direction: column;
    }

    .c1-p-container p {
        font-size: 15px;
        color: #6a303b;
    }

    #content-1 {
        padding-top: 15%;
    }

    .c1-button {
        width: 40%;
        font-size: 110%;
        border-radius: 6px;
    }

    .feedback-container {
        flex-direction: column;
        align-items: center;
    }

    .feedback-content1 {
        width: 75%;
        margin-right: 20%;
    }

    .feedback-content2 {
        margin-bottom: 15%;
    }

    .dl-container2-img {
        width: 110%;
    }

    .c1-button2 {
        padding-top: 2%;
        padding-bottom: 2%;
        width: 40%;
    }

    .dl-container4 {
        margin-bottom: 8%;
    }

    .ppl-container {
        flex-wrap: wrap;
        margin-bottom: 25%;
        padding-top: 5%;
    }

    .ppl {
        width: 37%;
    }

    .ppl:nth-child(3) {
        margin-top: 10%;
    }

    .ppl:nth-child(4) {
        margin-top: 10%;
    }

    .ppl img {
        display: flex;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    #header {
        padding-top: 2%;
        background-color: #6a303b;
    }

    .img-header {
        margin-top: -5%;
    }

    .img-logo {
        width: 25%;
    }

    .img-logo-small {
        width: 50%;
    }

    .c1-p-container p {
        font-size: 18px;
        color: #6a303b;
        width: 150%;
    }

    .c1-p-container {
        align-self: center;
        align-items: center;
    }

    .c1-button {
        width: 40%;
        font-size: 120%;
        border-radius: 6px;
    }

    .c1-container {
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        justify-content: center;
    }

    .c1-container1 {
        display: none;
    }

    .c1-container2 {
        padding-left: 0;
        margin-top: 2%;
        display: block;
        text-align: center;
        width: 100%;
    }

    .content-2 {
        flex-direction: column;
    }

    .c2-left-container {
        text-align: center;
    }

    .c2-left-container img {
        width: 100%;
    }

    .c2-right-container {
        display: none;
    }

    .c3-title h1 {
        font-size: 30px;
    }

    .c3-gallery {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10%;
    }

    .feedback-content1 {
        padding-top: 8%;
    }

    .feedback-content1 h1 {
        font-size: 45px;
    }

    .dl-container1 {
        flex-direction: column;
        margin-top: 3%;
    }

    .squiggle6 {
        width: 25%;
        margin-bottom: 5%;
    }

    .dl-container4 {
        margin-bottom: 15%;
    }

    .dl-content1:first-child {
        padding-right: 0;
    }

    .faq-container {
        padding-left: 0;
        padding-right: 0;
        padding-top: 5%;
    }

    .abt-container {
        margin-top: 5%;
    }

    .ppl h3 {
        font-size: 21px;
    }

    .ppl h4 {
        font-size: 16px;
    }

    .ppl-container {
        flex-wrap: wrap;
        margin-bottom: 35%;
        padding-top: 5%;
    }

    .ppl {
        width: 37%;
    }

    .ppl:nth-child(3) {
        margin-top: 10%;
    }

    .ppl:nth-child(4) {
        margin-top: 10%;
    }

    .ppl img {
        display: flex;
        width: 100%;
    }
}

/* ---------- RESPONSIVENESS END -------------- */